/* frontend/src/components/BottomNav.module.css */

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  
  display: flex;
  justify-content: space-around;
  background-color: #5CA14A;
  
  /* --- ИЗМЕНЕНИЯ --- */
  height: 60px; /* Уменьшили высоту, оставив место для padding */
  padding: 5px 0; /* Уменьшаем вертикальные паддинги, чтобы уложиться в высоту */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /* --- КОНЕЦ ИЗМЕНЕНИЙ --- */
  
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.15); 
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.navButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border: none;
  background: none;
  cursor: pointer;
  color: #3F7132;
  height: 100%; /* Растягиваем кнопку на всю высоту */
}

.navButton.active {
  color: #FFFFFF;
}

.navLabel {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  margin-top: 4px;
}
