/* frontend/src/components/BottomNav.module.css */

.nav {
  position: fixed;
  bottom: 20px; /* Отступ снизу */
  left: 20px; /* Отступ слева */
  right: 20px; /* Отступ справа */
  display: flex;
  justify-content: space-around;
  background-color: #5CA14A; /* Новый фон */
  border-radius: 20px; /* Скругление */
  padding: 10px 0;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25); /* Тень для объема */
}

.navButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border: none;
  background: none;
  padding: 5px 0;
  cursor: pointer;
  color: #3F7132; /* Цвет неактивной иконки */
}

.navButton.active {
  color: #FFFFFF; /* Цвет активной иконки */
}

.navLabel {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  margin-top: 4px;
}
