/* frontend/src/pages/HistoryPage.module.css */

.backButton {
  margin-bottom: 20px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #5CA14A;
  padding: 0;
  font-weight: bold;
}

.list {
  margin-top: 20px;
}

.transactionItem {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 10px;
  border-left: 5px solid;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}

/* Новые классы для цвета рамки */
.outgoingBorder {
  border-left-color: #d9534f;
}
.incomingBorder {
  border-left-color: #5cb85c;
}


.transactionItem p {
  margin: 0;
}

.outgoing {
  color: #d9534f;
  font-weight: bold;
}

.incoming {
  color: #5cb85c;
  font-weight: bold;
}

.message {
  margin-top: 8px !important;
  font-style: italic;
  color: #555;
  border-left: 3px solid #eee;
  padding-left: 10px;
}

.timestamp {
    margin-top: 8px !important;
    font-size: 12px;
    color: #888;
    text-align: right;
}
