/* frontend/src/pages/LeaderboardPage.module.css */

.page {
  padding: 20px;
}

.subtitle {
  color: #555;
  margin-bottom: 25px;
}

.list {
  padding-left: 0;
  list-style: none;
}

.listItem {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 18px;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  border-left: 5px solid #007bff;
}

.listItem strong {
    flex-grow: 1;
}

.position {
    font-size: 14px;
    color: #777;
    margin-left: 8px;
}

.points {
  color: #007bff;
  font-weight: bold;
}
