/* frontend/src/pages/MarketplacePage.module.css */

.page {}

.itemsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 25px;
}

.itemCard {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.itemName {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  flex-grow: 1; /* Pushes the price and button to the bottom */
}

.itemDescription {
  color: #555;
  font-size: 14px;
}

.itemPrice {
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
  margin: 15px 0;
}

.purchaseButton {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.purchaseButton:disabled {
  background-color: #a3d9b1;
  cursor: not-allowed;
}
