/* frontend/src/pages/StatusPages.module.css */
.statusPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: #e9eef2;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

.icon {
  font-size: 60px;
  margin-bottom: 20px;
}

.statusPage h1 {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.statusPage p {
  font-size: 16px;
  color: #6E7A85;
  max-width: 300px;
}

.subtleHint {
  margin-top: 15px !important;
  font-size: 14px !important;
  color: #888 !important;
}
